#Go {
  background: #B2E0D3;
  color: #112A46;
  border-radius: 15px;
  font: bold 18px Arial;
  border: 3px solid #112A46;
}

#msg {
  background: #B2E0D3;
  color: #112A46;
  border-radius: 15px;
  font: bold 18px Arial;
  padding: 10px;
}

